{
    "openapi": "3.0.3",
    "info": {
      "title": "InHire Public API",
      "description": "This is the public API for partners and clients of inHire.\n\n[INHIRE | Software de Recrutamento](https://www.inhire.com.br/)\n\nv2023.0.1",
      "version": "1.0.0",
      "contact": {}
    },
    "servers": [
      {
        "url": "https://auth.inhire.app"
      },
      {
        "url": "https://api.inhire.app"
      }
    ],
    "paths": {
      "/password": {
        "post": {
          "tags": [
            "Auth / Account"
          ],
          "summary": "Create password",
          "description": "Create password",
          "operationId": "createPassword",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "password": {
                      "type": "string",
                      "example": "k$dkMWVl$BiZDdkMGIx@Q1Nzc2NjM4O"
                    }
                  }
                },
                "examples": {
                  "Create password": {
                    "value": {
                      "password": "k$dkMWVl$BiZDdkMGIx@Q1Nzc2NjM4O"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": ""
            }
          }
        },
        "patch": {
          "tags": [
            "Auth / Account"
          ],
          "summary": "Update password",
          "description": "Update password",
          "operationId": "updatePassword",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "newPassword": {
                      "type": "string",
                      "example": "k$dkMWVl$BiZDdkMGIx@Q1Nzc2NjM4O"
                    },
                    "oldPassword": {
                      "type": "string",
                      "example": "Q1Nzc2NjM4O@k$dkMWVl$BiZDdkMGIx"
                    }
                  }
                },
                "examples": {
                  "Update password": {
                    "value": {
                      "newPassword": "k$dkMWVl$BiZDdkMGIx@Q1Nzc2NjM4O",
                      "oldPassword": "Q1Nzc2NjM4O@k$dkMWVl$BiZDdkMGIx"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": ""
            }
          }
        }
      },
      "/profile": {
        "get": {
          "tags": [
            "Auth / Account"
          ],
          "summary": "Get profile",
          "description": "Get profile",
          "operationId": "getProfile",
          "responses": {
            "200": {
              "description": ""
            }
          }
        },
        "patch": {
          "tags": [
            "Auth / Account"
          ],
          "summary": "Update profile",
          "description": "Update profile",
          "operationId": "updateProfile",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "Test User"
                    }
                  }
                },
                "examples": {
                  "Update profile": {
                    "value": {
                      "name": "Test User"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": ""
            }
          }
        }
      },
      "/refresh": {
        "post": {
          "tags": [
            "Auth / Account"
          ],
          "summary": "Refresh token",
          "description": "Refresh token",
          "operationId": "refreshToken",
          "parameters": [
            {
              "name": "X-Tenant",
              "in": "header",
              "schema": {
                "type": "string",
                "example": "{{tenantId}}"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "refreshToken": {
                      "type": "string",
                      "example": "{{refreshToken}}"
                    }
                  }
                },
                "examples": {
                  "Refresh token": {
                    "value": {
                      "refreshToken": "{{refreshToken}}"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": ""
            }
          }
        }
      },
      "/validate": {
        "get": {
          "tags": [
            "Auth / Account"
          ],
          "summary": "Validate token and return the payload",
          "description": "Validate token and return the payload",
          "operationId": "validateTokenAndReturnThePayload",
          "responses": {
            "200": {
              "description": ""
            }
          }
        }
      },
      "/logout": {
        "post": {
          "tags": [
            "Auth / Account"
          ],
          "summary": "Logout",
          "description": "Logout",
          "operationId": "logout",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "refreshToken": {
                      "type": "string",
                      "example": "{{refreshToken}}"
                    }
                  }
                },
                "examples": {
                  "Logout": {
                    "value": {
                      "refreshToken": "{{refreshToken}}"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": ""
            }
          }
        }
      },
      "/login": {
        "post": {
          "tags": [
            "Auth / Anonymous"
          ],
          "summary": "Login with email and password",
          "description": "Login with email and password",
          "operationId": "loginWithEmailAndPassword",
          "parameters": [
            {
              "name": "X-Tenant",
              "in": "header",
              "schema": {
                "type": "string",
                "example": "dev"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "example": "{{email}}"
                    },
                    "password": {
                      "type": "string",
                      "example": "{{password}}"
                    }
                  }
                },
                "examples": {
                  "Login with email and password": {
                    "value": {
                      "email": "{{email}}",
                      "password": "{{password}}"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": ""
            }
          }
        }
      },
      "/connect": {
        "post": {
          "tags": [
            "Auth / Anonymous"
          ],
          "summary": "Login with a social provider's access token",
          "description": "Login with a social provider's access token",
          "operationId": "loginWithASocialProviderSAccessToken",
          "parameters": [
            {
              "name": "X-Tenant",
              "in": "header",
              "schema": {
                "type": "string",
                "example": "{{tenantId}}"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string",
                      "example": "8ac68e98-0fa9-4bdf-88c7-d8a072ee55ac"
                    },
                    "provider": {
                      "type": "string",
                      "example": "google"
                    },
                    "refreshToken": {
                      "type": "string",
                      "example": "7c105215-60a5-4905-b9f0-b7e3431a7085"
                    }
                  }
                },
                "examples": {
                  "Login with a social provider's access token": {
                    "value": {
                      "accessToken": "8ac68e98-0fa9-4bdf-88c7-d8a072ee55ac",
                      "provider": "google",
                      "refreshToken": "7c105215-60a5-4905-b9f0-b7e3431a7085"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": ""
            }
          }
        }
      },
      "/forgot": {
        "post": {
          "tags": [
            "Auth / Anonymous"
          ],
          "summary": "Forgot password",
          "description": "Forgot password",
          "operationId": "forgotPassword",
          "parameters": [
            {
              "name": "X-Tenant",
              "in": "header",
              "schema": {
                "type": "string",
                "example": "{{tenantId}}"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "example": "{{email}}"
                    }
                  }
                },
                "examples": {
                  "Forgot password": {
                    "value": {
                      "email": "{{email}}"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": ""
            }
          }
        }
      },
      "/register": {
        "post": {
          "tags": [
            "Auth / Anonymous"
          ],
          "summary": "Create an account",
          "description": "Create an account",
          "operationId": "createAnAccount",
          "parameters": [
            {
              "name": "X-Tenant",
              "in": "header",
              "schema": {
                "type": "string",
                "example": "{{tenantId}}"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "example": "{{email}}"
                    },
                    "name": {
                      "type": "string",
                      "example": "Test User"
                    },
                    "password": {
                      "type": "string",
                      "example": "{{password}}"
                    },
                    "role": {
                      "type": "string",
                      "example": "member"
                    }
                  }
                },
                "examples": {
                  "Create an account": {
                    "value": {
                      "email": "{{email}}",
                      "name": "Test User",
                      "password": "{{password}}",
                      "role": "member"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": ""
            }
          }
        }
      },
      "/reset": {
        "post": {
          "tags": [
            "Auth / Anonymous"
          ],
          "summary": "Reset password",
          "description": "Reset password",
          "operationId": "resetPassword",
          "parameters": [
            {
              "name": "X-Tenant",
              "in": "header",
              "schema": {
                "type": "string",
                "example": "{{tenantId}}"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "password": {
                      "type": "string",
                      "example": "{{password}}"
                    },
                    "token": {
                      "type": "string",
                      "example": "oGwJKqxnikpOooagsjrsZbLqF8sMGzJE"
                    }
                  }
                },
                "examples": {
                  "Reset password": {
                    "value": {
                      "password": "{{password}}",
                      "token": "oGwJKqxnikpOooagsjrsZbLqF8sMGzJE"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": ""
            }
          }
        }
      },
      "/invitations": {
        "get": {
          "tags": [
            "Auth / Invitations"
          ],
          "summary": "Get all invitations",
          "description": "Get all invitations",
          "operationId": "getAllInvitations",
          "responses": {
            "200": {
              "description": ""
            }
          }
        },
        "post": {
          "tags": [
            "Auth / Invitations"
          ],
          "summary": "Create an invitation",
          "description": "Create an invitation",
          "operationId": "createAnInvitation",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "example": "lucas.nunes@byintera.com"
                    },
                    "role": {
                      "type": "string",
                      "example": "admin"
                    },
                    "team": {
                      "type": "string",
                      "example": "dev"
                    }
                  }
                },
                "examples": {
                  "Create an invitation": {
                    "value": {
                      "email": "lucas.nunes@byintera.com",
                      "role": "admin",
                      "team": "dev"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": ""
            }
          }
        }
      },
      "/invitations/{code}": {
        "get": {
          "tags": [
            "Auth / Invitations"
          ],
          "summary": "Get invitation",
          "description": "Get invitation",
          "operationId": "getInvitation",
          "parameters": [
            {
              "name": "X-Tenant",
              "in": "header",
              "schema": {
                "type": "string",
                "example": "{{tenantId}}"
              }
            }
          ],
          "responses": {
            "200": {
              "description": ""
            }
          }
        },
        "delete": {
          "tags": [
            "Auth / Invitations"
          ],
          "summary": "Delete invitation",
          "description": "Delete invitation",
          "operationId": "deleteInvitation",
          "responses": {
            "200": {
              "description": ""
            }
          }
        },
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "T548vQ9bFwC8R4gTV861JOpj3hauWziZ"
            }
          }
        ]
      },
      "/jobs": {
        "get": {
          "tags": [
            "Jobs"
          ],
          "summary": "Get Jobs",
          "description": "Get Jobs",
          "operationId": "getJobs",
          "responses": {
            "200": {
              "description": "200",
              "headers": {
                "Access-Control-Allow-Credentials": {
                  "schema": {
                    "type": "string",
                    "example": "true"
                  }
                },
                "Access-Control-Allow-Headers": {
                  "schema": {
                    "type": "string",
                    "example": "Accept-Version,Accept,Authorization,Content-Length,Content-MD5,Content-Type,Date,x-amz-date,x-amz-security-token,X-Api-Version,X-CSRF-Token,X-Requested-With"
                  }
                },
                "Access-Control-Allow-Methods": {
                  "schema": {
                    "type": "string",
                    "example": "GET,OPTIONS"
                  }
                },
                "Access-Control-Allow-Origin": {
                  "schema": {
                    "type": "string",
                    "example": "*"
                  }
                },
                "Connection": {
                  "schema": {
                    "type": "string",
                    "example": "keep-alive"
                  }
                },
                "Content-Length": {
                  "schema": {
                    "type": "string",
                    "example": "2479"
                  }
                },
                "Date": {
                  "schema": {
                    "type": "string",
                    "example": "Wed, 02 Feb 2022 23:00:31 GMT"
                  }
                },
                "Via": {
                  "schema": {
                    "type": "string",
                    "example": "1.1 0bc3c1d1d52ecd02b40630685533a354.cloudfront.net (CloudFront)"
                  }
                },
                "X-Amz-Cf-Id": {
                  "schema": {
                    "type": "string",
                    "example": "At9hOEXsHKP1QKYHRs1FsnD4203FxtN2mBUkvgAcZ6M8-7sMRNQWDA=="
                  }
                },
                "X-Amz-Cf-Pop": {
                  "schema": {
                    "type": "string",
                    "example": "GRU1-C2"
                  }
                },
                "X-Amzn-Trace-Id": {
                  "schema": {
                    "type": "string",
                    "example": "Root=1-61fb0d0f-5564140c4e115c1b154b22d2;Sampled=0"
                  }
                },
                "X-Cache": {
                  "schema": {
                    "type": "string",
                    "example": "Miss from cloudfront"
                  }
                },
                "x-amz-apigw-id": {
                  "schema": {
                    "type": "string",
                    "example": "M776ZFIkIAMFUug="
                  }
                },
                "x-amzn-RequestId": {
                  "schema": {
                    "type": "string",
                    "example": "e12bef1a-ffd2-4ce1-8deb-0904bcd03b66"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "acceptedSeniority": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "mid-level"
                          },
                          "example": [
                            "mid-level",
                            "senior"
                          ]
                        },
                        "area": {
                          "type": "string",
                          "example": "engineering"
                        },
                        "contractType": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "pj"
                          },
                          "example": [
                            "pj"
                          ]
                        },
                        "createdAt": {
                          "type": "string",
                          "example": "2022-01-21T16:22:14.890Z"
                        },
                        "housingAssistance": {
                          "type": "boolean",
                          "example": false
                        },
                        "id": {
                          "type": "string",
                          "example": "179b7139-0cfb-4e77-8021-a667bf75a75a"
                        },
                        "languagePrimary": {
                          "type": "string",
                          "example": "Node.js"
                        },
                        "locationCity": {
                          "type": "string",
                          "example": "São Paulo"
                        },
                        "locationRequired": {
                          "type": "boolean",
                          "example": false
                        },
                        "locationState": {
                          "type": "string",
                          "example": "SP"
                        },
                        "name": {
                          "type": "string",
                          "example": "Back-end Engineer"
                        },
                        "offLimits": {
                          "type": "array",
                          "items": {},
                          "example": []
                        },
                        "originId": {
                          "type": "string",
                          "example": "local"
                        },
                        "salaryMax": {
                          "type": "number",
                          "example": 12000
                        },
                        "salaryMin": {
                          "type": "number",
                          "example": 10000
                        },
                        "seniority": {
                          "type": "string",
                          "example": "senior"
                        },
                        "specialization": {
                          "type": "string",
                          "example": "back-end"
                        },
                        "status": {
                          "type": "string",
                          "example": "archived"
                        },
                        "talentSuggestions": {
                          "type": "boolean",
                          "example": false
                        },
                        "updatedAt": {
                          "type": "string",
                          "example": "2022-01-21T16:22:14.890Z"
                        }
                      }
                    },
                    "example": [
                      {
                        "acceptedSeniority": [
                          "mid-level",
                          "senior"
                        ],
                        "area": "engineering",
                        "contractType": [
                          "pj"
                        ],
                        "createdAt": "2022-01-21T16:22:14.890Z",
                        "id": "179b7139-0cfb-4e77-8021-a667bf75a75a",
                        "locationRequired": false,
                        "name": "Back-end Engineer",
                        "offLimits": [],
                        "originId": "local",
                        "salaryMax": 12000,
                        "salaryMin": 10000,
                        "seniority": "senior",
                        "specialization": "back-end",
                        "status": "archived",
                        "talentSuggestions": false,
                        "updatedAt": "2022-01-21T16:22:14.890Z"
                      },
                      {
                        "acceptedSeniority": [],
                        "area": "product",
                        "contractType": [
                          "pj"
                        ],
                        "createdAt": "2022-01-27T19:05:25.309Z",
                        "id": "5acaf2e9-1bf9-493f-9f76-f8f94d5bbcc1",
                        "locationRequired": false,
                        "name": "Product Owner",
                        "offLimits": [
                          "iFood"
                        ],
                        "salaryMax": 16000,
                        "salaryMin": 14000,
                        "seniority": "senior",
                        "status": "open",
                        "talentSuggestions": true,
                        "updatedAt": "2022-01-27T19:05:25.309Z"
                      },
                      {
                        "acceptedSeniority": [
                          "specialist",
                          "senior"
                        ],
                        "area": "engineering",
                        "contractType": [
                          "clt",
                          "pj"
                        ],
                        "createdAt": "2022-01-28T02:15:36.696Z",
                        "id": "6704dc30-26e8-46c6-856b-6ed35d171073",
                        "languagePrimary": "Node.js",
                        "locationRequired": false,
                        "name": "Front-end Specialist",
                        "offLimits": [],
                        "salaryMax": 20000,
                        "salaryMin": 18000,
                        "seniority": "specialist",
                        "specialization": "front-end",
                        "status": "open",
                        "talentSuggestions": true,
                        "updatedAt": "2022-02-02T22:58:58.676Z"
                      },
                      {
                        "acceptedSeniority": [],
                        "area": "design",
                        "contractType": [
                          "pj"
                        ],
                        "createdAt": "2022-01-27T19:03:42.518Z",
                        "housingAssistance": false,
                        "id": "7b5690f8-65df-47e2-a561-f04d69836f61",
                        "locationCity": "São Paulo",
                        "locationRequired": true,
                        "locationState": "SP",
                        "name": "UI/UX Designer",
                        "offLimits": [],
                        "salaryMax": 15000,
                        "salaryMin": 12000,
                        "seniority": "senior",
                        "status": "paused",
                        "talentSuggestions": true,
                        "updatedAt": "2022-01-27T19:03:42.518Z"
                      },
                      {
                        "acceptedSeniority": [
                          "specialist",
                          "senior"
                        ],
                        "area": "engineering",
                        "contractType": [
                          "pj"
                        ],
                        "createdAt": "2022-01-27T19:01:00.158Z",
                        "id": "a51811b1-2698-4f4e-8c66-342266888e2f",
                        "languagePrimary": "Node.js",
                        "locationRequired": false,
                        "name": "Senior Front-end Enginner",
                        "offLimits": [
                          null
                        ],
                        "salaryMax": 14000,
                        "salaryMin": 10000,
                        "seniority": "senior",
                        "specialization": "front-end",
                        "status": "open",
                        "talentSuggestions": true,
                        "updatedAt": "2022-01-27T19:01:00.158Z"
                      },
                      {
                        "area": "engineering",
                        "contractType": [
                          "pj"
                        ],
                        "createdAt": "2022-01-21T15:24:40.556Z",
                        "id": "ecd8c77d-14ca-4e15-b3a5-053539ed0f7f",
                        "locationRequired": false,
                        "name": "Software Engineer",
                        "offLimits": [],
                        "originId": "local",
                        "salaryMax": 12000,
                        "salaryMin": 10000,
                        "seniority": "senior",
                        "specialization": "front-end",
                        "status": "closed",
                        "talentSuggestions": false,
                        "updatedAt": "2022-01-21T15:24:40.556Z"
                      }
                    ]
                  },
                  "examples": {
                    "200": {
                      "value": [
                        {
                          "acceptedSeniority": [
                            "mid-level",
                            "senior"
                          ],
                          "area": "engineering",
                          "contractType": [
                            "pj"
                          ],
                          "createdAt": "2022-01-21T16:22:14.890Z",
                          "id": "179b7139-0cfb-4e77-8021-a667bf75a75a",
                          "locationRequired": false,
                          "name": "Back-end Engineer",
                          "offLimits": [],
                          "originId": "local",
                          "salaryMax": 12000,
                          "salaryMin": 10000,
                          "seniority": "senior",
                          "specialization": "back-end",
                          "status": "archived",
                          "talentSuggestions": false,
                          "updatedAt": "2022-01-21T16:22:14.890Z"
                        },
                        {
                          "acceptedSeniority": [],
                          "area": "product",
                          "contractType": [
                            "pj"
                          ],
                          "createdAt": "2022-01-27T19:05:25.309Z",
                          "id": "5acaf2e9-1bf9-493f-9f76-f8f94d5bbcc1",
                          "locationRequired": false,
                          "name": "Product Owner",
                          "offLimits": [
                            "iFood"
                          ],
                          "salaryMax": 16000,
                          "salaryMin": 14000,
                          "seniority": "senior",
                          "status": "open",
                          "talentSuggestions": true,
                          "updatedAt": "2022-01-27T19:05:25.309Z"
                        },
                        {
                          "acceptedSeniority": [
                            "specialist",
                            "senior"
                          ],
                          "area": "engineering",
                          "contractType": [
                            "clt",
                            "pj"
                          ],
                          "createdAt": "2022-01-28T02:15:36.696Z",
                          "id": "6704dc30-26e8-46c6-856b-6ed35d171073",
                          "languagePrimary": "Node.js",
                          "locationRequired": false,
                          "name": "Front-end Specialist",
                          "offLimits": [],
                          "salaryMax": 20000,
                          "salaryMin": 18000,
                          "seniority": "specialist",
                          "specialization": "front-end",
                          "status": "open",
                          "talentSuggestions": true,
                          "updatedAt": "2022-02-02T22:58:58.676Z"
                        },
                        {
                          "acceptedSeniority": [],
                          "area": "design",
                          "contractType": [
                            "pj"
                          ],
                          "createdAt": "2022-01-27T19:03:42.518Z",
                          "housingAssistance": false,
                          "id": "7b5690f8-65df-47e2-a561-f04d69836f61",
                          "locationCity": "São Paulo",
                          "locationRequired": true,
                          "locationState": "SP",
                          "name": "UI/UX Designer",
                          "offLimits": [],
                          "salaryMax": 15000,
                          "salaryMin": 12000,
                          "seniority": "senior",
                          "status": "paused",
                          "talentSuggestions": true,
                          "updatedAt": "2022-01-27T19:03:42.518Z"
                        },
                        {
                          "acceptedSeniority": [
                            "specialist",
                            "senior"
                          ],
                          "area": "engineering",
                          "contractType": [
                            "pj"
                          ],
                          "createdAt": "2022-01-27T19:01:00.158Z",
                          "id": "a51811b1-2698-4f4e-8c66-342266888e2f",
                          "languagePrimary": "Node.js",
                          "locationRequired": false,
                          "name": "Senior Front-end Enginner",
                          "offLimits": [
                            null
                          ],
                          "salaryMax": 14000,
                          "salaryMin": 10000,
                          "seniority": "senior",
                          "specialization": "front-end",
                          "status": "open",
                          "talentSuggestions": true,
                          "updatedAt": "2022-01-27T19:01:00.158Z"
                        },
                        {
                          "area": "engineering",
                          "contractType": [
                            "pj"
                          ],
                          "createdAt": "2022-01-21T15:24:40.556Z",
                          "id": "ecd8c77d-14ca-4e15-b3a5-053539ed0f7f",
                          "locationRequired": false,
                          "name": "Software Engineer",
                          "offLimits": [],
                          "originId": "local",
                          "salaryMax": 12000,
                          "salaryMin": 10000,
                          "seniority": "senior",
                          "specialization": "front-end",
                          "status": "closed",
                          "talentSuggestions": false,
                          "updatedAt": "2022-01-21T15:24:40.556Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "post": {
          "tags": [
            "Jobs"
          ],
          "summary": "Create Job",
          "description": "Create Job",
          "operationId": "createJob",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "acceptedSeniority": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "specialist"
                      },
                      "example": [
                        "specialist",
                        "senior"
                      ]
                    },
                    "area": {
                      "type": "string",
                      "example": "engineering"
                    },
                    "contractType": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "clt"
                      },
                      "example": [
                        "clt",
                        "pj"
                      ]
                    },
                    "languagePrimary": {
                      "type": "string",
                      "example": "Node.js"
                    },
                    "locationRequired": {
                      "type": "boolean",
                      "example": false
                    },
                    "name": {
                      "type": "string",
                      "example": "Front-end Tech-lead"
                    },
                    "offLimits": {
                      "type": "array",
                      "items": {},
                      "example": []
                    },
                    "salaryMax": {
                      "type": "number",
                      "example": 20000
                    },
                    "salaryMin": {
                      "type": "number",
                      "example": 18000
                    },
                    "seniority": {
                      "type": "string",
                      "example": "specialist"
                    },
                    "specialization": {
                      "type": "string",
                      "example": "front-end"
                    },
                    "talentSuggestions": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "Create Job": {
                    "value": {
                      "acceptedSeniority": [
                        "specialist",
                        "senior"
                      ],
                      "area": "engineering",
                      "contractType": [
                        "clt",
                        "pj"
                      ],
                      "languagePrimary": "Node.js",
                      "locationRequired": false,
                      "name": "Front-end Tech-lead",
                      "offLimits": [],
                      "salaryMax": 20000,
                      "salaryMin": 18000,
                      "seniority": "specialist",
                      "specialization": "front-end",
                      "talentSuggestions": true
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "201",
              "headers": {
                "Access-Control-Allow-Credentials": {
                  "schema": {
                    "type": "string",
                    "example": "true"
                  }
                },
                "Access-Control-Allow-Headers": {
                  "schema": {
                    "type": "string",
                    "example": "Accept-Version,Accept,Authorization,Content-Length,Content-MD5,Content-Type,Date,x-amz-date,x-amz-security-token,X-Api-Version,X-CSRF-Token,X-Requested-With"
                  }
                },
                "Access-Control-Allow-Methods": {
                  "schema": {
                    "type": "string",
                    "example": "GET,OPTIONS"
                  }
                },
                "Access-Control-Allow-Origin": {
                  "schema": {
                    "type": "string",
                    "example": "*"
                  }
                },
                "Connection": {
                  "schema": {
                    "type": "string",
                    "example": "keep-alive"
                  }
                },
                "Content-Length": {
                  "schema": {
                    "type": "string",
                    "example": "520"
                  }
                },
                "Date": {
                  "schema": {
                    "type": "string",
                    "example": "Wed, 02 Feb 2022 22:53:37 GMT"
                  }
                },
                "Via": {
                  "schema": {
                    "type": "string",
                    "example": "1.1 0bc3c1d1d52ecd02b40630685533a354.cloudfront.net (CloudFront)"
                  }
                },
                "X-Amz-Cf-Id": {
                  "schema": {
                    "type": "string",
                    "example": "oH3CO83ElSbbFbV9lZDokk4jr0BQdVbkbmYw7zL2m2ZzX5eFzgjWHw=="
                  }
                },
                "X-Amz-Cf-Pop": {
                  "schema": {
                    "type": "string",
                    "example": "GRU1-C2"
                  }
                },
                "X-Amzn-Trace-Id": {
                  "schema": {
                    "type": "string",
                    "example": "Root=1-61fb0b6f-565a28817b43135f690bafc9;Sampled=0"
                  }
                },
                "X-Cache": {
                  "schema": {
                    "type": "string",
                    "example": "Miss from cloudfront"
                  }
                },
                "x-amz-apigw-id": {
                  "schema": {
                    "type": "string",
                    "example": "M765hGCPIAMFYGw="
                  }
                },
                "x-amzn-RequestId": {
                  "schema": {
                    "type": "string",
                    "example": "7192101d-abdf-45be-aca1-51ef0c1a148b"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "acceptedSeniority": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "example": "specialist"
                        },
                        "example": [
                          "specialist",
                          "senior"
                        ]
                      },
                      "area": {
                        "type": "string",
                        "example": "engineering"
                      },
                      "contractType": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "example": "clt"
                        },
                        "example": [
                          "clt",
                          "pj"
                        ]
                      },
                      "createdAt": {
                        "type": "string",
                        "example": "2022-02-02T22:53:37.706Z"
                      },
                      "id": {
                        "type": "string",
                        "example": "4202f3e3-3aab-4329-b3a0-86e34dd899f5"
                      },
                      "languagePrimary": {
                        "type": "string",
                        "example": "Node.js"
                      },
                      "locationRequired": {
                        "type": "boolean",
                        "example": false
                      },
                      "name": {
                        "type": "string",
                        "example": "Front-end Tech-lead"
                      },
                      "offLimits": {
                        "type": "array",
                        "items": {},
                        "example": []
                      },
                      "salaryMax": {
                        "type": "number",
                        "example": 20000
                      },
                      "salaryMin": {
                        "type": "number",
                        "example": 18000
                      },
                      "seniority": {
                        "type": "string",
                        "example": "specialist"
                      },
                      "specialization": {
                        "type": "string",
                        "example": "front-end"
                      },
                      "status": {
                        "type": "string",
                        "example": "open"
                      },
                      "talentSuggestions": {
                        "type": "boolean",
                        "example": true
                      },
                      "updatedAt": {
                        "type": "string",
                        "example": "2022-02-02T22:53:37.706Z"
                      },
                      "userId": {
                        "type": "string",
                        "example": "dfa36a65-a1d5-4ff9-923c-168d6a3e81fa"
                      },
                      "userName": {
                        "type": "string",
                        "example": "Produto Intera"
                      }
                    }
                  },
                  "examples": {
                    "201": {
                      "value": {
                        "acceptedSeniority": [
                          "specialist",
                          "senior"
                        ],
                        "area": "engineering",
                        "contractType": [
                          "clt",
                          "pj"
                        ],
                        "createdAt": "2022-02-02T22:53:37.706Z",
                        "id": "4202f3e3-3aab-4329-b3a0-86e34dd899f5",
                        "languagePrimary": "Node.js",
                        "locationRequired": false,
                        "name": "Front-end Tech-lead",
                        "offLimits": [],
                        "salaryMax": 20000,
                        "salaryMin": 18000,
                        "seniority": "specialist",
                        "specialization": "front-end",
                        "status": "open",
                        "talentSuggestions": true,
                        "updatedAt": "2022-02-02T22:53:37.706Z",
                        "userId": "dfa36a65-a1d5-4ff9-923c-168d6a3e81fa",
                        "userName": "Produto Intera"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "patch": {
          "tags": [
            "Jobs"
          ],
          "summary": "Patch Jobs",
          "description": "Patch Jobs",
          "operationId": "patchJobs",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ids": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "00279eaa-032b-4b2b-a2d3-e5bf32fb7d04"
                      },
                      "example": [
                        "00279eaa-032b-4b2b-a2d3-e5bf32fb7d04",
                        "02376c8f-fbe2-4a08-b56b-03ed1a081666"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "example": "open"
                    }
                  }
                },
                "examples": {
                  "Patch Jobs": {
                    "value": {
                      "ids": [
                        "00279eaa-032b-4b2b-a2d3-e5bf32fb7d04",
                        "02376c8f-fbe2-4a08-b56b-03ed1a081666"
                      ],
                      "status": "open"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "200",
              "headers": {
                "Connection": {
                  "schema": {
                    "type": "string",
                    "example": "keep-alive"
                  }
                },
                "Date": {
                  "schema": {
                    "type": "string",
                    "example": "Thu, 27 Oct 2022 18:56:19 GMT"
                  }
                },
                "Keep-Alive": {
                  "schema": {
                    "type": "string",
                    "example": "timeout=5"
                  }
                },
                "access-control-allow-credentials": {
                  "schema": {
                    "type": "string",
                    "example": "true"
                  }
                },
                "access-control-allow-headers": {
                  "schema": {
                    "type": "string",
                    "example": "Accept-Version,Accept,Authorization,Content-Length,Content-MD5,Content-Type,Date,x-amz-date,x-amz-security-token,X-Api-Version,X-CSRF-Token,X-Requested-With"
                  }
                },
                "access-control-allow-methods": {
                  "schema": {
                    "type": "string",
                    "example": "GET,OPTIONS"
                  }
                },
                "access-control-expose-headers": {
                  "schema": {
                    "type": "string",
                    "example": "WWW-Authenticate,Server-Authorization"
                  }
                },
                "cache-control": {
                  "schema": {
                    "type": "string",
                    "example": "no-cache"
                  }
                },
                "content-length": {
                  "schema": {
                    "type": "string",
                    "example": "131"
                  }
                },
                "vary": {
                  "schema": {
                    "type": "string",
                    "example": "origin"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "00279eaa-032b-4b2b-a2d3-e5bf32fb7d04"
                        },
                        "status": {
                          "type": "string",
                          "example": "success"
                        }
                      }
                    },
                    "example": [
                      {
                        "id": "00279eaa-032b-4b2b-a2d3-e5bf32fb7d04",
                        "status": "success"
                      },
                      {
                        "id": "02376c8f-fbe2-4a08-b56b-03ed1a0815eb",
                        "status": "success"
                      }
                    ]
                  },
                  "examples": {
                    "200": {
                      "value": [
                        {
                          "id": "00279eaa-032b-4b2b-a2d3-e5bf32fb7d04",
                          "status": "success"
                        },
                        {
                          "id": "02376c8f-fbe2-4a08-b56b-03ed1a0815eb",
                          "status": "success"
                        }
                      ]
                    }
                  }
                }
              }
            },
            "207": {
              "description": "207",
              "headers": {
                "Connection": {
                  "schema": {
                    "type": "string",
                    "example": "keep-alive"
                  }
                },
                "Date": {
                  "schema": {
                    "type": "string",
                    "example": "Thu, 27 Oct 2022 18:59:38 GMT"
                  }
                },
                "Keep-Alive": {
                  "schema": {
                    "type": "string",
                    "example": "timeout=5"
                  }
                },
                "access-control-allow-credentials": {
                  "schema": {
                    "type": "string",
                    "example": "true"
                  }
                },
                "access-control-allow-headers": {
                  "schema": {
                    "type": "string",
                    "example": "Accept-Version,Accept,Authorization,Content-Length,Content-MD5,Content-Type,Date,x-amz-date,x-amz-security-token,X-Api-Version,X-CSRF-Token,X-Requested-With"
                  }
                },
                "access-control-allow-methods": {
                  "schema": {
                    "type": "string",
                    "example": "GET,OPTIONS"
                  }
                },
                "access-control-expose-headers": {
                  "schema": {
                    "type": "string",
                    "example": "WWW-Authenticate,Server-Authorization"
                  }
                },
                "cache-control": {
                  "schema": {
                    "type": "string",
                    "example": "no-cache"
                  }
                },
                "content-length": {
                  "schema": {
                    "type": "string",
                    "example": "153"
                  }
                },
                "vary": {
                  "schema": {
                    "type": "string",
                    "example": "origin"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "example": "Job not found"
                        },
                        "id": {
                          "type": "string",
                          "example": "00279eaa-032b-4b2b-a2d3-e5bf32fb7d04"
                        },
                        "status": {
                          "type": "string",
                          "example": "success"
                        }
                      }
                    },
                    "example": [
                      {
                        "id": "00279eaa-032b-4b2b-a2d3-e5bf32fb7d04",
                        "status": "success"
                      },
                      {
                        "error": "Job not found",
                        "id": "02376c8f-fbe2-4a08-b56b-03ed1a081666",
                        "status": "error"
                      }
                    ]
                  },
                  "examples": {
                    "207": {
                      "value": [
                        {
                          "id": "00279eaa-032b-4b2b-a2d3-e5bf32fb7d04",
                          "status": "success"
                        },
                        {
                          "error": "Job not found",
                          "id": "02376c8f-fbe2-4a08-b56b-03ed1a081666",
                          "status": "error"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/jobs/name/{name}": {
        "get": {
          "tags": [
            "Jobs"
          ],
          "summary": "Get Jobs by name",
          "description": "Get Jobs by name",
          "operationId": "getJobsByName",
          "responses": {
            "200": {
              "description": ""
            }
          }
        },
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Back-end Engineer"
            }
          }
        ]
      },
      "/jobs/origin/{origin}": {
        "get": {
          "tags": [
            "Jobs"
          ],
          "summary": "Get Jobs by origin",
          "description": "Get Jobs by origin",
          "operationId": "getJobsByOrigin",
          "responses": {
            "200": {
              "description": ""
            }
          }
        },
        "parameters": [
          {
            "name": "origin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "local"
            }
          }
        ]
      },
      "/jobs/origin-id/{originId}": {
        "get": {
          "tags": [
            "Jobs"
          ],
          "summary": "Get Jobs by originId",
          "description": "Get Jobs by originId",
          "operationId": "getJobsByOriginid",
          "responses": {
            "200": {
              "description": ""
            }
          }
        },
        "parameters": [
          {
            "name": "originId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "123321"
            }
          }
        ]
      },
      "/jobs/status/{status}": {
        "get": {
          "tags": [
            "Jobs"
          ],
          "summary": "Get Jobs by status",
          "description": "Get Jobs by status",
          "operationId": "getJobsByStatus",
          "responses": {
            "200": {
              "description": ""
            }
          }
        },
        "parameters": [
          {
            "name": "status",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "closed"
            }
          }
        ]
      },
      "/jobs/{id}": {
        "get": {
          "tags": [
            "Jobs"
          ],
          "summary": "Get Job",
          "description": "Get Job",
          "operationId": "getJob",
          "responses": {
            "200": {
              "description": "200",
              "headers": {
                "Access-Control-Allow-Credentials": {
                  "schema": {
                    "type": "string",
                    "example": "true"
                  }
                },
                "Access-Control-Allow-Headers": {
                  "schema": {
                    "type": "string",
                    "example": "Accept-Version,Accept,Authorization,Content-Length,Content-MD5,Content-Type,Date,x-amz-date,x-amz-security-token,X-Api-Version,X-CSRF-Token,X-Requested-With"
                  }
                },
                "Access-Control-Allow-Methods": {
                  "schema": {
                    "type": "string",
                    "example": "GET,OPTIONS"
                  }
                },
                "Access-Control-Allow-Origin": {
                  "schema": {
                    "type": "string",
                    "example": "*"
                  }
                },
                "Connection": {
                  "schema": {
                    "type": "string",
                    "example": "keep-alive"
                  }
                },
                "Content-Length": {
                  "schema": {
                    "type": "string",
                    "example": "445"
                  }
                },
                "Date": {
                  "schema": {
                    "type": "string",
                    "example": "Wed, 02 Feb 2022 22:56:59 GMT"
                  }
                },
                "Via": {
                  "schema": {
                    "type": "string",
                    "example": "1.1 0bc3c1d1d52ecd02b40630685533a354.cloudfront.net (CloudFront)"
                  }
                },
                "X-Amz-Cf-Id": {
                  "schema": {
                    "type": "string",
                    "example": "mbztOfSVZiSzo8y61hNRQ4W24sye1qr1ASxYXiRDPbaxVEhYIJ5oMw=="
                  }
                },
                "X-Amz-Cf-Pop": {
                  "schema": {
                    "type": "string",
                    "example": "GRU1-C2"
                  }
                },
                "X-Amzn-Trace-Id": {
                  "schema": {
                    "type": "string",
                    "example": "Root=1-61fb0c3b-4d2cb55d5e52da1f7ba36e73;Sampled=0"
                  }
                },
                "X-Cache": {
                  "schema": {
                    "type": "string",
                    "example": "Miss from cloudfront"
                  }
                },
                "x-amz-apigw-id": {
                  "schema": {
                    "type": "string",
                    "example": "M77ZUHzmoAMFYFQ="
                  }
                },
                "x-amzn-RequestId": {
                  "schema": {
                    "type": "string",
                    "example": "081a6cbd-0b61-486a-aa2c-02a048b4f466"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "acceptedSeniority": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "example": "specialist"
                        },
                        "example": [
                          "specialist",
                          "senior"
                        ]
                      },
                      "area": {
                        "type": "string",
                        "example": "engineering"
                      },
                      "contractType": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "example": "clt"
                        },
                        "example": [
                          "clt",
                          "pj"
                        ]
                      },
                      "createdAt": {
                        "type": "string",
                        "example": "2022-01-28T02:15:36.696Z"
                      },
                      "id": {
                        "type": "string",
                        "example": "6704dc30-26e8-46c6-856b-6ed35d171073"
                      },
                      "languagePrimary": {
                        "type": "string",
                        "example": "Node.js"
                      },
                      "locationRequired": {
                        "type": "boolean",
                        "example": false
                      },
                      "name": {
                        "type": "string",
                        "example": "Front-end Specialist"
                      },
                      "offLimits": {
                        "type": "array",
                        "items": {},
                        "example": []
                      },
                      "salaryMax": {
                        "type": "number",
                        "example": 20000
                      },
                      "salaryMin": {
                        "type": "number",
                        "example": 18000
                      },
                      "seniority": {
                        "type": "string",
                        "example": "specialist"
                      },
                      "specialization": {
                        "type": "string",
                        "example": "front-end"
                      },
                      "status": {
                        "type": "string",
                        "example": "open"
                      },
                      "talentSuggestions": {
                        "type": "boolean",
                        "example": true
                      },
                      "updatedAt": {
                        "type": "string",
                        "example": "2022-01-28T02:15:36.696Z"
                      }
                    }
                  },
                  "examples": {
                    "200": {
                      "value": {
                        "acceptedSeniority": [
                          "specialist",
                          "senior"
                        ],
                        "area": "engineering",
                        "contractType": [
                          "clt",
                          "pj"
                        ],
                        "createdAt": "2022-01-28T02:15:36.696Z",
                        "id": "6704dc30-26e8-46c6-856b-6ed35d171073",
                        "languagePrimary": "Node.js",
                        "locationRequired": false,
                        "name": "Front-end Specialist",
                        "offLimits": [],
                        "salaryMax": 20000,
                        "salaryMin": 18000,
                        "seniority": "specialist",
                        "specialization": "front-end",
                        "status": "open",
                        "talentSuggestions": true,
                        "updatedAt": "2022-01-28T02:15:36.696Z"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "delete": {
          "tags": [
            "Jobs"
          ],
          "summary": "Delete Jobs",
          "description": "Delete Jobs",
          "operationId": "deleteJobs",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "Senior Software Engineer"
                    }
                  }
                },
                "examples": {
                  "Delete Jobs": {
                    "value": {
                      "name": "Senior Software Engineer"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "204": {
              "description": "204",
              "headers": {
                "Access-Control-Allow-Credentials": {
                  "schema": {
                    "type": "string",
                    "example": "true"
                  }
                },
                "Access-Control-Allow-Headers": {
                  "schema": {
                    "type": "string",
                    "example": "Accept-Version,Accept,Authorization,Content-Length,Content-MD5,Content-Type,Date,x-amz-date,x-amz-security-token,X-Api-Version,X-CSRF-Token,X-Requested-With"
                  }
                },
                "Access-Control-Allow-Methods": {
                  "schema": {
                    "type": "string",
                    "example": "GET,OPTIONS"
                  }
                },
                "Access-Control-Allow-Origin": {
                  "schema": {
                    "type": "string",
                    "example": "*"
                  }
                },
                "Connection": {
                  "schema": {
                    "type": "string",
                    "example": "keep-alive"
                  }
                },
                "Content-Length": {
                  "schema": {
                    "type": "string",
                    "example": "0"
                  }
                },
                "Date": {
                  "schema": {
                    "type": "string",
                    "example": "Wed, 02 Feb 2022 23:00:15 GMT"
                  }
                },
                "Via": {
                  "schema": {
                    "type": "string",
                    "example": "1.1 0bc3c1d1d52ecd02b40630685533a354.cloudfront.net (CloudFront)"
                  }
                },
                "X-Amz-Cf-Id": {
                  "schema": {
                    "type": "string",
                    "example": "adt60qmGy5Hg3rpQ6G4HoX-oSc7htPpIaPMCmideRGkd2Xkb0GdwpQ=="
                  }
                },
                "X-Amz-Cf-Pop": {
                  "schema": {
                    "type": "string",
                    "example": "GRU1-C2"
                  }
                },
                "X-Amzn-Trace-Id": {
                  "schema": {
                    "type": "string",
                    "example": "Root=1-61fb0cfc-749caab1588a71da0cc86237;Sampled=0"
                  }
                },
                "X-Cache": {
                  "schema": {
                    "type": "string",
                    "example": "Miss from cloudfront"
                  }
                },
                "x-amz-apigw-id": {
                  "schema": {
                    "type": "string",
                    "example": "M773hFamoAMF5Aw="
                  }
                },
                "x-amzn-RequestId": {
                  "schema": {
                    "type": "string",
                    "example": "822fa241-bb59-49fc-8360-54887ed16392"
                  }
                }
              },
              "content": {
                "text/plain": {
                  "examples": {
                    "204": {
                      "value": ""
                    }
                  }
                }
              }
            }
          }
        },
        "patch": {
          "tags": [
            "Jobs"
          ],
          "summary": "Patch Job",
          "description": "Patch Job",
          "operationId": "patchJob",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "open"
                    }
                  }
                },
                "examples": {
                  "Patch Job": {
                    "value": {
                      "status": "open"
                    }
                  },
                  "Patch Job (Custom Fields)": {
                    "value": {
                      "status": "open"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "204": {
              "description": "204 / 204",
              "headers": {
                "Access-Control-Allow-Credentials": {
                  "schema": {
                    "type": "string",
                    "example": "true"
                  }
                },
                "Access-Control-Allow-Headers": {
                  "schema": {
                    "type": "string",
                    "example": "Accept-Version,Accept,Authorization,Content-Length,Content-MD5,Content-Type,Date,x-amz-date,x-amz-security-token,X-Api-Version,X-CSRF-Token,X-Requested-With"
                  }
                },
                "Access-Control-Allow-Methods": {
                  "schema": {
                    "type": "string",
                    "example": "GET,OPTIONS"
                  }
                },
                "Access-Control-Allow-Origin": {
                  "schema": {
                    "type": "string",
                    "example": "*"
                  }
                },
                "Connection": {
                  "schema": {
                    "type": "string",
                    "example": "keep-alive"
                  }
                },
                "Content-Length": {
                  "schema": {
                    "type": "string",
                    "example": "0"
                  }
                },
                "Date": {
                  "schema": {
                    "type": "string",
                    "example": "Wed, 02 Feb 2022 22:58:58 GMT"
                  }
                },
                "Via": {
                  "schema": {
                    "type": "string",
                    "example": "1.1 0bc3c1d1d52ecd02b40630685533a354.cloudfront.net (CloudFront)"
                  }
                },
                "X-Amz-Cf-Id": {
                  "schema": {
                    "type": "string",
                    "example": "g0Mvuf6uEgVGlg4jr4YftUFjN8iEirkuGUbE_TTZI0wEYAUM7PW7Aw=="
                  }
                },
                "X-Amz-Cf-Pop": {
                  "schema": {
                    "type": "string",
                    "example": "GRU1-C2"
                  }
                },
                "X-Amzn-Trace-Id": {
                  "schema": {
                    "type": "string",
                    "example": "Root=1-61fb0cb0-61b6c0bb21cbdb4c4da6e22c;Sampled=0"
                  }
                },
                "X-Cache": {
                  "schema": {
                    "type": "string",
                    "example": "Miss from cloudfront"
                  }
                },
                "x-amz-apigw-id": {
                  "schema": {
                    "type": "string",
                    "example": "M77rqGR0IAMF5Ew="
                  }
                },
                "x-amzn-RequestId": {
                  "schema": {
                    "type": "string",
                    "example": "790770f3-d01d-402d-bbbf-c6e827f01172"
                  }
                }
              },
              "content": {
                "text/plain": {
                  "examples": {
                    "204": {
                      "value": ""
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "{{jobId}}"
            }
          }
        ]
      },
      "/talents": {
        "get": {
          "tags": [
            "Talents"
          ],
          "summary": "Get Talents",
          "description": "Get Talents",
          "operationId": "getTalents",
          "responses": {
            "200": {
              "description": ""
            }
          }
        },
        "post": {
          "tags": [
            "Talents"
          ],
          "summary": "Add Talent",
          "description": "Add Talent",
          "operationId": "addTalent",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "linkedinUsername": {
                      "type": "string",
                      "example": "{{linkedinUsername}}"
                    }
                  }
                },
                "examples": {
                  "Add Talent": {
                    "value": {
                      "linkedinUsername": "{{linkedinUsername}}"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": ""
            }
          }
        }
      },
      "/talents/batch": {
        "post": {
          "tags": [
            "Talents"
          ],
          "summary": "Add Talents",
          "description": "Add Talents",
          "operationId": "addTalents",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "linkedinUsername": {
                        "type": "string",
                        "example": "{{linkedinUsername}}"
                      }
                    }
                  },
                  "example": [
                    {
                      "linkedinUsername": "{{linkedinUsername}}"
                    }
                  ]
                },
                "examples": {
                  "Add Talents": {
                    "value": [
                      {
                        "linkedinUsername": "{{linkedinUsername}}"
                      }
                    ]
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": ""
            }
          }
        }
      },
      "/talents/linkedin/": {
        "post": {
          "tags": [
            "Talents"
          ],
          "summary": "Get Talents by linkedinUsername",
          "description": "Get Talents by linkedinUsername",
          "operationId": "getTalentsByLinkedinusername",
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "{{linkedinUsername}}"
                  },
                  "example": [
                    "{{linkedinUsername}}"
                  ]
                },
                "examples": {
                  "Get Talents by linkedinUsername": {
                    "value": [
                      "{{linkedinUsername}}"
                    ]
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "200",
              "headers": {
                "Access-Control-Allow-Credentials": {
                  "schema": {
                    "type": "string",
                    "example": "true"
                  }
                },
                "Access-Control-Allow-Headers": {
                  "schema": {
                    "type": "string",
                    "example": "Accept-Version,Accept,Authorization,Content-Length,Content-MD5,Content-Type,Date,x-amz-date,x-amz-security-token,X-Api-Version,X-CSRF-Token,X-Requested-With"
                  }
                },
                "Access-Control-Allow-Methods": {
                  "schema": {
                    "type": "string",
                    "example": "GET,OPTIONS"
                  }
                },
                "Access-Control-Allow-Origin": {
                  "schema": {
                    "type": "string",
                    "example": "*"
                  }
                },
                "Connection": {
                  "schema": {
                    "type": "string",
                    "example": "keep-alive"
                  }
                },
                "Content-Length": {
                  "schema": {
                    "type": "string",
                    "example": "4626"
                  }
                },
                "Date": {
                  "schema": {
                    "type": "string",
                    "example": "Tue, 05 Apr 2022 18:38:54 GMT"
                  }
                },
                "Via": {
                  "schema": {
                    "type": "string",
                    "example": "1.1 be058bcb1dbe0c534febc75507fc667a.cloudfront.net (CloudFront)"
                  }
                },
                "X-Amz-Cf-Id": {
                  "schema": {
                    "type": "string",
                    "example": "WLXGjtyJtCR5Ry2hAjJXic5GbMaK9bNxyoa_c58e4MWZXo9roNewqA=="
                  }
                },
                "X-Amz-Cf-Pop": {
                  "schema": {
                    "type": "string",
                    "example": "GRU1-C2"
                  }
                },
                "X-Amzn-Trace-Id": {
                  "schema": {
                    "type": "string",
                    "example": "Root=1-624c8cbe-06b720ac202625ee0e0dab17;Sampled=0"
                  }
                },
                "X-Cache": {
                  "schema": {
                    "type": "string",
                    "example": "Miss from cloudfront"
                  }
                },
                "x-amz-apigw-id": {
                  "schema": {
                    "type": "string",
                    "example": "QHrtyHSQoAMFgNA="
                  }
                },
                "x-amzn-RequestId": {
                  "schema": {
                    "type": "string",
                    "example": "c7628faa-7fe8-4a28-9756-c5ec1d765d11"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "linkedinUsername": {
                          "type": "string",
                          "example": "gilbarbara"
                        },
                        "talent": {
                          "type": "object",
                          "properties": {
                            "attributes": {
                              "type": "object",
                              "properties": {
                                "approach": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "createdAt": {
                                        "type": "string",
                                        "example": "2022-02-14T14:00:32.944Z"
                                      },
                                      "id": {
                                        "type": "string",
                                        "example": "832c5266-3fb9-4f04-b25d-de73d174af87*local*approach-Qklc"
                                      },
                                      "origin": {
                                        "type": "string",
                                        "example": "local"
                                      },
                                      "updatedAt": {
                                        "type": "string",
                                        "example": "2022-02-14T14:00:32.944Z"
                                      },
                                      "userId": {
                                        "type": "string",
                                        "example": "b02c9299-00ec-4b26-81df-622edaf4e14b"
                                      },
                                      "userName": {
                                        "type": "string",
                                        "example": "Gil Barbara"
                                      },
                                      "value": {
                                        "type": "string",
                                        "example": "manual"
                                      }
                                    }
                                  },
                                  "example": [
                                    {
                                      "createdAt": "2022-02-14T14:00:32.944Z",
                                      "id": "832c5266-3fb9-4f04-b25d-de73d174af87*local*approach-Qklc",
                                      "origin": "local",
                                      "updatedAt": "2022-02-14T14:00:32.944Z",
                                      "userId": "b02c9299-00ec-4b26-81df-622edaf4e14b",
                                      "userName": "Gil Barbara",
                                      "value": "manual"
                                    },
                                    {
                                      "createdAt": "2021-12-23T19:32:17.287Z",
                                      "id": "832c5266-3fb9-4f04-b25d-de73d174af87*local*approach-gaVg",
                                      "origin": "local",
                                      "updatedAt": "2021-12-23T19:32:17.287Z",
                                      "userId": "b02c9299-00ec-4b26-81df-622edaf4e14b",
                                      "userName": "Gil Barbara",
                                      "value": "manual"
                                    },
                                    {
                                      "createdAt": "2021-12-01T11:56:00.286Z",
                                      "id": "832c5266-3fb9-4f04-b25d-de73d174af87*local*approach-JgzS",
                                      "origin": "local",
                                      "updatedAt": "2021-12-16T11:56:00.286Z",
                                      "userId": "b02c9299-00ec-4b26-81df-622edaf4e14b",
                                      "userName": "Gil Barbara",
                                      "value": "manual"
                                    }
                                  ]
                                },
                                "diversityBlack": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "createdAt": {
                                        "type": "string",
                                        "example": "2021-12-20T22:32:08.498Z"
                                      },
                                      "id": {
                                        "type": "string",
                                        "example": "832c5266-3fb9-4f04-b25d-de73d174af87*local*diversityBlack-sznQ"
                                      },
                                      "origin": {
                                        "type": "string",
                                        "example": "local"
                                      },
                                      "updatedAt": {
                                        "type": "string",
                                        "example": "2021-12-20T22:32:08.498Z"
                                      },
                                      "userId": {
                                        "type": "string",
                                        "example": "b02c9299-00ec-4b26-81df-622edaf4e14b"
                                      },
                                      "userName": {
                                        "type": "string",
                                        "example": "Gil Barbara"
                                      },
                                      "value": {
                                        "type": "boolean",
                                        "example": true
                                      }
                                    }
                                  },
                                  "example": [
                                    {
                                      "createdAt": "2021-12-20T22:32:08.498Z",
                                      "id": "832c5266-3fb9-4f04-b25d-de73d174af87*local*diversityBlack-sznQ",
                                      "origin": "local",
                                      "updatedAt": "2021-12-20T22:32:08.498Z",
                                      "userId": "b02c9299-00ec-4b26-81df-622edaf4e14b",
                                      "userName": "Gil Barbara",
                                      "value": true
                                    }
                                  ]
                                },
                                "diversityDisability": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "createdAt": {
                                        "type": "string",
                                        "example": "2021-12-20T22:32:59.370Z"
                                      },
                                      "id": {
                                        "type": "string",
                                        "example": "832c5266-3fb9-4f04-b25d-de73d174af87*local*diversityDisability-4OyR"
                                      },
                                      "origin": {
                                        "type": "string",
                                        "example": "local"
                                      },
                                      "updatedAt": {
                                        "type": "string",
                                        "example": "2021-12-20T22:32:59.370Z"
                                      },
                                      "userId": {
                                        "type": "string",
                                        "example": "b02c9299-00ec-4b26-81df-622edaf4e14b"
                                      },
                                      "userName": {
                                        "type": "string",
                                        "example": "Gil Barbara"
                                      },
                                      "value": {
                                        "type": "boolean",
                                        "example": true
                                      }
                                    }
                                  },
                                  "example": [
                                    {
                                      "createdAt": "2021-12-20T22:32:59.370Z",
                                      "id": "832c5266-3fb9-4f04-b25d-de73d174af87*local*diversityDisability-4OyR",
                                      "origin": "local",
                                      "updatedAt": "2021-12-20T22:32:59.370Z",
                                      "userId": "b02c9299-00ec-4b26-81df-622edaf4e14b",
                                      "userName": "Gil Barbara",
                                      "value": true
                                    }
                                  ]
                                },
                                "diversityLgbt": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "createdAt": {
                                        "type": "string",
                                        "example": "2021-12-20T22:32:21.364Z"
                                      },
                                      "id": {
                                        "type": "string",
                                        "example": "832c5266-3fb9-4f04-b25d-de73d174af87*local*diversityLgbt-ywAW"
                                      },
                                      "origin": {
                                        "type": "string",
                                        "example": "local"
                                      },
                                      "updatedAt": {
                                        "type": "string",
                                        "example": "2021-12-20T22:32:21.364Z"
                                      },
                                      "userId": {
                                        "type": "string",
                                        "example": "b02c9299-00ec-4b26-81df-622edaf4e14b"
                                      },
                                      "userName": {
                                        "type": "string",
                                        "example": "Gil Barbara"
                                      },
                                      "value": {
                                        "type": "boolean",
                                        "example": true
                                      }
                                    }
                                  },
                                  "example": [
                                    {
                                      "createdAt": "2021-12-20T22:32:21.364Z",
                                      "id": "832c5266-3fb9-4f04-b25d-de73d174af87*local*diversityLgbt-ywAW",
                                      "origin": "local",
                                      "updatedAt": "2021-12-20T22:32:21.364Z",
                                      "userId": "b02c9299-00ec-4b26-81df-622edaf4e14b",
                                      "userName": "Gil Barbara",
                                      "value": true
                                    }
                                  ]
                                },
                                "diversityTrans": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "createdAt": {
                                        "type": "string",
                                        "example": "2021-12-20T22:33:03.898Z"
                                      },
                                      "id": {
                                        "type": "string",
                                        "example": "832c5266-3fb9-4f04-b25d-de73d174af87*local*diversityTrans-osMG"
                                      },
                                      "origin": {
                                        "type": "string",
                                        "example": "local"
                                      },
                                      "updatedAt": {
                                        "type": "string",
                                        "example": "2021-12-20T22:33:03.898Z"
                                      },
                                      "userId": {
                                        "type": "string",
                                        "example": "b02c9299-00ec-4b26-81df-622edaf4e14b"
                                      },
                                      "userName": {
                                        "type": "string",
                                        "example": "Gil Barbara"
                                      },
                                      "value": {
                                        "type": "boolean",
                                        "example": true
                                      }
                                    }
                                  },
                                  "example": [
                                    {
                                      "createdAt": "2021-12-20T22:33:03.898Z",
                                      "id": "832c5266-3fb9-4f04-b25d-de73d174af87*local*diversityTrans-osMG",
                                      "origin": "local",
                                      "updatedAt": "2021-12-20T22:33:03.898Z",
                                      "userId": "b02c9299-00ec-4b26-81df-622edaf4e14b",
                                      "userName": "Gil Barbara",
                                      "value": true
                                    }
                                  ]
                                },
                                "diversityWoman": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "createdAt": {
                                        "type": "string",
                                        "example": "2021-12-20T22:33:09.267Z"
                                      },
                                      "id": {
                                        "type": "string",
                                        "example": "832c5266-3fb9-4f04-b25d-de73d174af87*local*diversityWoman-6bqs"
                                      },
                                      "origin": {
                                        "type": "string",
                                        "example": "local"
                                      },
                                      "updatedAt": {
                                        "type": "string",
                                        "example": "2021-12-20T22:33:09.267Z"
                                      },
                                      "userId": {
                                        "type": "string",
                                        "example": "b02c9299-00ec-4b26-81df-622edaf4e14b"
                                      },
                                      "userName": {
                                        "type": "string",
                                        "example": "Gil Barbara"
                                      },
                                      "value": {
                                        "type": "boolean",
                                        "example": true
                                      }
                                    }
                                  },
[...]
